.hheader{
    background-image: url('../assets/Hero-bg.png') ;
}
.banner-title{
    font-size: 48px;
    font-weight: bold;

    
}
.banner-profile-pic{
    width: 240px;

}
.banner{
    text-align: center;
}

.btn-primary{
    background-color: #0D1321;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}
.section-title{
    font-size: 32;
    font-weight: bolder;
    font-style: italic;
    color: black;
}
.section-description{
    font-size: 16px;
    color: #0D1321;
}
.secondary-bg{
    background-color: #E7ECFF;

}
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;

}
main{
    max-width: 1140px;
    margin: 0 auto;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.secondary-bg {
    background-color: #e2e2e2;
    padding: 20px;
}

.section-titlee {
    font-size: 24px;
    margin-bottom: 10px;
}

.section-descriptionn {
    font-size: 16px;
    margin-bottom: 20px;
}

.banner-section {
    background-color: #FFFFFF   
}
.headerr{
    color: #0D1321;
}
.para{
    color: #0D1321;
}
.inspira{
    text-align: center;
    background-color: white;
}
.video{
    text-align: center;
    padding: 20px 100px;
}
.target-container{
    display: flex;
    gap: 30px;
}
.target-description{
padding: 30px;
}
.target-html{
    background-color: #FDCCC5;
}
.target-css{
    background-color: #EBF2FF;
}
.target-js{
    background-color: #FFDF00;
}
.background{
  
        background-image: url('../assets/handshake.jpg');
        background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    height: 313px; 
    width: 1140px;

}
.last-section{
  text-align: center;
  color: white;
 }
 .end{
    padding: 25px 50px 75px 100px;
    display: flex;
    gap: 20px;
    text-align: center;
}


